.ps{
	background: url(../icons/adobe.photoshop.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.pdf{
	background: url(../icons/adobe.acrobat.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.dir{
	background: url(../icons/folder.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.mp3{
	background: url(../icons/music.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.wma{
	background: url(../icons/music.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.wav{
	background: url(../icons/music.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.mp4{
	background: url(../icons/movie.clapper.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.mkv{
	background: url(../icons/movie.clapper.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.avi{
	background: url(../icons/film.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.mpeg{
	background: url(../icons/film.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.flv{
	background: url(../icons/film.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.docx{
	background: url(../icons/office.word.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.doc{
	background: url(../icons/office.word.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.xlsx{
	background: url(../icons/office.excel.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.xls{
	background: url(../icons/office.excel.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.pptx{
	background: url(../icons/office.powerpoint.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.ppt{
	background: url(../icons/office.powerpoint.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.txt{
	background: url(../icons/text.align.justify.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.rar{
	background: url(../icons/archive.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.zip{
	background: url(../icons/archive.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.jpg{
	background: url(../icons/image.macro.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.jpeg{
	background: url(../icons/image.macro.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.png{
	background: url(../icons/image.macro.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}

.gif{
	background: url(../icons/image.macro.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.goUp{
	background: url(../icons/arrow.up.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}
.noIcon{/*No Icon Extension Available*/
	background: url(../icons/page.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}