shadow(){
    -moz-box-shadow    12px 14px 25px -12px rgba(115,115,115,1)
    -webkit-box-shadow 12px 14px 25px -12px rgba(115,115,115,1)
    box-shadow         12px 14px 25px -12px rgba(115,115,115,1)
}

.explorer-container {
    position relative
    width 800px
    height 600px
    border 2px dashed black
}

.explorer-file {
    width 110px
    height 140px
    border 1px solid darkgrey
    position: relative
    .icon {
        margin 15px auto
        display table
        color gray
    }
    .file-name {
        text-align center
        color gray
        cursor pointer
    }
    .file-name:hover {
        color black
    }
    .file-selected {
        position absolute
        width 100%
        height 100%
        background-color blueviolet
        opacity .7
        z-index: 2
    }
    .icon-area {
        position absolute
        width 100%
        height 100%
        z-index 1
    }
}
.explorer-context-menu {
    position absolute
    width 150px
    height auto
    background-color white
    border 1px solid gray
    z-index 3
    shadow()
    a {
        display inline-block
        padding 10px
        color: inherit
        text-decoration none
    }
    .option {
        width auto
        color #a9a9a9;
        background-color #fff;
        margin-left 5px
        margin-right 5px
        cursor pointer
        font-weight bolder
    }
    .option:hover {
        color white
        background-color gray
    }
    .box {
        margin-top 3px
        margin-bottom 3px
    }
}