.explorer-container {
    position relative
    width 800px
    height 600px
    border 2px dashed black
}

.explorer-file {
    width 110px
    height 140px
    border 1px solid darkgrey
    position: relative
    .icon {
        margin 15px auto
        display table
        color gray
    }
    .file-name {
        text-align center
        color gray
        cursor pointer
    }
    .file-name:hover {
        color black
    }
    .file-selected {
        position absolute
        width 100%
        height 100%
        background-color blue
        opacity .6
        z-index: 2
    }
    .icon-area {
        position absolute
        width 100%
        height 100%
        z-index 1
    }
}
.explorer-context-menu {
    width 150px
    height auto
    background-color white
    border 1px solid gray
    -moz-box-shadow    inset 0 0 10px #000000
    -webkit-box-shadow inset 0 0 10px #000000
    box-shadow         inset 0 0 10px #000000
    p {
        padding-top 5px
        padding-bottom 5px
    }
}