.explorer-component {
    position absolute
    border 2px dashed gray
}

.explorer-fade-enter-active, .explorer-fade-leave-active {
  transition opacity .4s
}
.explorer-fade-enter, .explorer-fade-leave-to{
  opacity 0
}
@import "context-menu.styl"
@import "dialog.styl"
@import "file.styl"